<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!--
  To the extent possible under law, Red Hat, Inc. has dedicated all copyright 
  to this software to the public domain worldwide, pursuant to the CC0 Public 
  Domain Dedication. This software is distributed without any warranty.  See 
  <http://creativecommons.org/publicdomain/zero/1.0/>.
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="APPLICATION" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="application.log"/>
    <!-- Roll when size reaches nMB -->
    <param name="MaxFileSize" value="10MB"/>
    <!-- Keep n backup files -->
    <param name="MaxBackupIndex" value="25"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
    </layout>
  </appender>
  <logger name="test">
    <level value="INFO"/>
  </logger>
  <logger name="org.apache.catalina.core.ContainerBase">
    <level value="WARN"/>
  </logger>
  <root>
    <priority value="INFO"/>
    <appender-ref ref="APPLICATION"/>
  </root>
</log4j:configuration>
