<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="com.redhat.gss.formatters">
    <resources>
        <resource-root path="customFormatter.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.logmanager"/>
    </dependencies>
</module>
